@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
  @apply text-blue-700 font-bold [&>li]:text-white [&>li]:font-normal [&>li]:text-sm [&>li]:mb-1 [&>li]:cursor-pointer mx-6 tracking-wide [&>li]:pt-1 hover:[&>li]:text-blue-700 tablet:hover:[&>li]:text-white tablet:mx-0;
}

.move-up {
  @apply transition ease-out duration-700 transform hover:translate-y-[-0.625rem];
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
